#ajuste{

}
#image{
    background-image: url(../Imagens/topo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 18%;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
     #ajuste{
        margin-top: 45%;
        margin-bottom: 55%;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
     #ajuste{
        margin-top: 10%;
        margin-left: 35%;
        margin-right: 35%;
    }
}


@media (min-width: 1200px) {

    #ajuste{
        margin-top: 10%;
        margin-left: 35%;
        margin-right: 35%;
    }
}
